
@{
    ViewBag.Title = "Reporte";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleRepor.css">
</head>
<body>
    <div id="header"><h1>Reporte</h1></div>
    <div id="cuerpo">
        <table id="customers">
            <tr>
                <th>Codigo de producto</th>
                <th>Nombre de producto</th>
                <th>Cantidad inventariadad</th>
                <th>Cantidad de producto vendido</th>
                <th>Cantidad de producto restante</th>
                <th>Precio unitario</th>
                <th>Total de ventas</th>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Computadora</td>
                <td>20</td>
                <td>10</td>
                <td>10</td>
                <td>$150.00</td>
                <td>$1500.00</td>
            </tr>
            <tr>
                <th>TOTAL</th>
                <th></th>
                <th>2000</th>
                <th>1000</th>
                <th>1000</th>
                <th>$15000.00</th>
                <th>$15000000.00</th>
            </tr>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
