@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ventas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSales.css">
</head>
<body>
    <h1>Reporte de ventas</h1>
    <div>
        <input type="text" width="200px">
        <button class="submit2" type="submit">Consultar</button>
    </div>

    <div class="grid-container">
        <div class="grid-item">Id</div>
        <div class="grid-item">Nom. Producto</div>
        <div class="grid-item">Precio Producto</div>
        <div class="grid-item">Unidades vendidas</div>
        <div class="grid-item">Descripción</div>

        <div class="grid-item">51245</div>
        <div class="grid-item">Desatornilladores</div>
        <div class="grid-item">$10.95</div>
        <div class="grid-item">15</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quia ex necessitatibus, voluptatibus, vitae ipsa perferendis sunt cum inventore aliquam aut exercitationem recusandae vero nulla magnam omnis nostrum aspernatur voluptates iste aperiam nemo velit. Adipisci praesentium nobis quia accusamus hic.</div>
        <div class="grid-item">532523</div>
        <div class="grid-item">lorem</div>
        <div class="grid-item">$21.54</div>
        <div class="grid-item">20</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, recusandae delectus? Aperiam praesentium enim doloribus veniam? Commodi impedit culpa quisquam doloremque aperiam quo exercitationem cumque quam, ab assumenda omnis qui non. Nemo voluptatem corporis amet, temporibus dolore quaerat aperiam neque! Similique dolores repudiandae enim at asperiores, eos saepe unde assumenda.</div>
        <div class="grid-item">523523</div>
        <div class="grid-item">Lorem</div>
        <div class="grid-item">$4.52</div>
        <div class="grid-item">5</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores atque placeat ducimus, veritatis autem? Ad vitae distinctio officiis necessitatibus?</div>
        <div class="grid-item">345345</div>
        <div class="grid-item">Lorem, ipsum.</div>
        <div class="grid-item">$8.54</div>
        <div class="grid-item">3</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam maxime officia soluta dolores, consectetur aspernatur! Aliquid fugiat quo unde? Debitis corrupti, aliquam vel quasi voluptas est, ullam, quam earum molestiae rerum saepe fugit totam rem vitae placeat soluta reprehenderit ea deserunt magni amet sed eum. Nemo debitis autem ullam itaque nobis, iste praesentium eius, quidem ut quod sunt odio.</div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>

    </div>
    <div class="grid-container2">
        <div class="grid-item">Total Gravado</div>
        <div class="grid-item"></div>
        <div class="grid-item">Total Exento</div>
        <div class="grid-item"></div>
        <div class="grid-item">Subtotal</div>
        <div class="grid-item"></div>
        <div class="grid-item">Descuento %</div>
        <div class="grid-item"></div>
        <div class="grid-item">Descuento</div>
        <div class="grid-item"></div>
        <div class="grid-item">Subtotal</div>
        <div class="grid-item"></div>
        <div class="grid-item">IVA</div>
        <div class="grid-item"></div>
        <div class="grid-item">Total</div>
        <div class="grid-item"></div>
    </div>
    <button class="submit" type="submit">Imprimir</button>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
